@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Epilogue";
  padding: 62px 165px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > a {
  color: #172339;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  border: 3px solid black;
}
.color1 {
  color: #172339;
  font-size: 72px;
  font-weight: 700;
  line-height: 78px;
}
.color2 {
  color: #172339;
  font-size: 72px;
  font-weight: 700;
  line-height: 78px;
}

.left > h1 {
  color: #172339;
  font-size: 72px;
  font-weight: 400;
  line-height: 78px;
  max-width: 635px;
  margin-top: 188px;
}
main {
  display: flex;
  justify-content: center;
}
.left > p {
  color: #49566d;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1px;
  max-width: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.left > a {
  padding: 15px 31px;
  background-color: #172339;
  color: #faf8f6;
  border-radius: 8px;
  border: none;
  color: #faf8f6;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
}

.right {
  margin-left: 280px;
  margin-top: 185px;
  display: flex;
  gap: 63px;
  flex-direction: column;
}
.companies > h1 {
  color: #172339;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.companies > p {
  color: #49566d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
}
.languages > h1 {
  color: #172339;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.languages > p {
  color: #49566d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
}
.leads > h1 {
  color: #172339;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.leads > p {
  color: #49566d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
}

.curved-box {
  position: absolute;
  left: 400px;
  top: 218px;
}
.button-1 {
  width: 256px;
  height: 61px;
  border-radius: 6px;
  background: #172339;
}
.button-1 > a {
  color:  #faf8f6;
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

}
.img-1 {
  z-index: -5;
  position: absolute;
  top: 173px;
  left: 640px;
}

.jeremy {
  width: 1109px;
  min-height: 545px;
  background-color: #172339;
  border-radius: 15px;
  display: flex;
  margin-top: 318px;
  position: relative;
  justify-content: center;
}

.jeremy > img {
  position: absolute;
  left: 121px;
  top: -44px;
  z-index: 2;
}
.blur {
  position: absolute;
  left: 10px;
  top: 200px;
  z-index: -1.5;
}
.curved-2 {
  position: absolute;
  left: 517px;
  top: 161px;
}
.phrase {
  display: flex;
  flex-direction: column;
  margin-left: 634px;
  margin-top: 88px;
  gap: 40px;
}
.phrases > h1 {
  color: #faf8f6;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}
.phrases > p {
  color: #f3ede7;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.1px;
  max-width: 350px;
}
.phrases > h3 {
  color: #faf8f6;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.CMO {
  color: #f3ede7;
  font-family: Epilogue;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.5px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 95px;
}
.shape {
  max-width: 100%;
  min-height: 464px;
  background-color: red;
  position: relative;
  z-index: -10;
  bottom: 0;
}
